<html>
	<head>
		{% if title %}
		<title>{{ title }}</title>
		{% else %}
		<title>notitle</title>
		{% endif %}
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
	</head>
	<body>
		{% block content %}{% endblock %}
		<pre>
		<code>
		{% with messages = get_flashed_messages() %}
  		{% if messages %}
		    {% for message in messages %}
		      {{ message }}</br>
		    {% endfor %}
	  	{% endif %}
	  	</code>
	  	</pre>
	{% endwith %}
	</body>
</html>