{% extends 'base.html' %}
<div>
{% block content %}
	<h1>Please log in to run bot</h1>
	<form class='main-form' method='POST'>
	<ul>
		<li>
			<label for='login'>Login:</label>
			{{ form.login }}
		</li>
		<li>
			<label for='password'>Password:</label>
			{{ form.password }}
		</li>
		<li>
			<label for='like_per_day'>Likes per day:</label>
			{{ form.like_per_day }}
		</li>
		<li>
			<label for='comments_per_day'>Comments per day:</label>
			{{ form.comments_per_day }}
		</li>
		<li>
			<label for='follow_per_day'>Follow per day:</label>
			{{ form.follow_per_day }}
		</li>
		<li>
		{{ form.submit }}
		</li>
	</ul>	
	</form>
{% endblock %}
</div>